.login {
  margin-top: 180px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin-top: "2.5%";
  padding-top: 2em;
  padding-bottom: 2em;
  height: 500px;

  background: linear-gradient(
    90.48deg,
    #5b5379 1.83%,
    #4a426f 22.5%,
    #47425c 40.15%,
    #4e476b 56.79%,
    #47425c 73.93%,
    #4d466b 93.09%
  );

  border-radius: 2.3%;
}

.textTitleWelcomeBack {
  /* position: relative;
  flex-direction: column;
  top: 7%;
  left: 0%; */
  width: 50%;
  font-family: "Roboto";
  font-style: normal;
  font-size: 220%;
  line-height: 120%;
  text-transform: capitalize;
  color: white;
}
/* Credentials sections */
.boxLogginEmail {
  position: relative;
  left: -15%;
  margin-top: 2em;
  width: 20%;
}

.boxLogginPassword {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  position: relative;
  left: -15%;
  width: 20%;
}

.outLinks {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.TextUserLoggingProblem {
  width: 100%;
  font-size: smaller;
  font-family: "Roboto";
  font-style: normal;
  text-transform: capitalize;
  color: white;
}
/* Hyperlink texts */
.TextLinkSignUp {
  display: flex;
  /* top: 28%;
  left: 11%; */
  font-size: smaller;
  a {
    margin-left: 10px;
  }
  /* Description Hyperlink section */
  .TextUserDoesntAccount {
    font-size: smaller;
    font-family: "Roboto";
    font-style: normal;
    text-transform: capitalize;
    color: white;
  }
}

.TextLinkGetHelp {
  // display: flex;
  // top: 30%;
  // left: 11%;
  font-size: smaller;
  display: flex;
  /* top: 28%;
  left: 11%; */
  font-size: smaller;
  width: fit-content;
  a {
    width: 80px;
  }
  /* Description Hyperlink section */
  .TextUserLoggingProblem {
    font-size: smaller;
    font-family: "Roboto";
    font-style: normal;
    text-transform: capitalize;
    color: white;
  }
}

/* Buttons */
.loggingButton {
  // display: flex;
  // position: relative;
}

@media only screen and (max-width: 1000px) {
}
