.main__container {
  display: flex;
  flex-direction: row;
}

.main__right{
    width: 50%;
    background-color: #f5f5f5;
    margin-left: 2vw;
}

.main__right-main{
  width: 50%;
  background-color: #f5f5f5;
  margin-left: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  &-text{
    width: 90%;
    height: 80%;
      font-size: 1.25rem;
      font-weight: 600;
      background-color:rgb(1, 24, 39);
      border-radius: 10px;
      color: rgb(255, 255, 255);
      margin: 0;
      text-align: center;
      padding: 4rem;
      padding-left: 2rem;
  }
}
