.intro_container {

  .carousel_container {
    position: relative;
    overflow: hidden;
    top: -80px;
    max-width: 99.1vw;
    height: 110vh;
    display: flex;

    img {
      min-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  .content_container {
    position: absolute;
    h1 {
      opacity: 0;
      position: relative;
      left: 100px;
      top: -900px;
      font-family: "Source Sans Pro";
      font-weight: 700;
      font-size: clamp(5vw, 6vw, 8vw);
      background: linear-gradient(
          90.05deg,
          #24c9e6 3.74%,
          rgba(36, 201, 230, 0) 98.09%
        ),
        linear-gradient(270.08deg, #cc11e3 0.09%, rgba(204, 17, 227, 0) 98.35%),
        linear-gradient(270.1deg, #b303fb 1.42%, rgba(179, 3, 251, 0) 98.34%),
        linear-gradient(90.03deg, #7f06f8 2.35%, rgba(127, 6, 248, 0) 101.53%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      mix-blend-mode: normal;
    }
    h3 {
      opacity: 0;
      width: 50%;
      position: relative;
      left: 94px;
      top: -850px;
      font-family: "Source Sans Pro";
      font-weight: 400;
      font-size: clamp(20px, 2vw, 3.5vw);
    
      line-height: 60px;
      color: #e5cee9;
    }
  }

  .intro_arrow {
    filter: invert(100%);
    scale: 1;
    position: relative;
    z-index: 10;
    top: -650px;
    left: 50vw;
    animation:bounce 1.5s infinite;
  }
  .fade_out {
    opacity: 0;
    transition: opacity 1s ease forwards;

  }
}

h1,
h3 {
  animation: textFade ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
h3 {
  animation-delay: 0.75s;
}

@keyframes textFade {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes bounce {
  0%, 100% {
    transform: rotate(-90deg) translate(0);
  }
  50% {
    transform: rotate(-90deg) translateX(-15px);
  }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 830px) {
  .intro_arrow {
    display: none;
  }
}