
//CSS Styling for GroupCard component
.cardHeader{
  text-align: center;
}

.groupCard{
  height: 100%;
}





//CSS Styling for Groups component (GROUP PAGE)

.bodySection{
  padding-top: 2%;
  padding-bottom: 2%;
  background-color:rgb(6, 30, 61);
}

.Dummy{
  background-color: aqua;
  height: 100%;
}