

.dropdown {
  color: black;
  user-select: none;
  text-align: left;
  padding: 15px;
  padding-block: 10px;
  .head {
    &:hover {
      color: orange;
    }
    font-size: 15px;

    img {
      height: 10px;
    }
  }
  .contents {
    a:hover {
      color: orange;
    }
    a {
      text-align: left;
      padding: 15px;
      font-size: 13px;
      display: block;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
