.membercard_container {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  width: 350px;
  height: 85px;
  display: flex;
  align-items: center;
  margin-block: 10px;
  transition: all 0.3s ease;
  background: #47425c;
  border-radius: 12px;

  &:hover {
    opacity: 0.8;
  }
  .membertext_container {
    display: block;
    padding-left: 10px;
    width: 75%;
    h4 {
      font-family: "Roboto";
      font-weight: bold;
      font-size: 24px;
      color: #d9d9d9;
    }
    span {
      font-family: "Roboto";
      font-weight: normal;
      font-size: 14px;
      color: #d9d9d9;
    }
  }
  img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
  }
}
